.list,
.list ul {
  list-style-type: none;
  text-align: center;
}

.list h2 {
  text-decoration: underline 2px;
  padding: 3px;
  margin-top: 50px;
  font-family: "kodchasan_bold", sans-serif;
  font-weight: 700;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.category_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 90px;
  grid-column: 1/2;
}

.kort {
  display: grid;
}

.Europakort {
  grid-column: 2/3;
  grid-row: span 1;
}
