/* burgermenu */
.toggle-btn {
  display: none;
}

@media (max-width: 800px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
