* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.img_filter {
  filter: brightness(50%);
}
/* Slideshow container */
.slideshow-container {
  display: contents;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}
.prev {
  left: 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0.5rem;
  background-color: #ed8634;
  opacity: 0.9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #f4e1d6;
  opacity: 0.8;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/******** Buttons ********/
a {
  text-decoration: none;
}
.logo {
  position: absolute;
  top: 30%;
  width: 60%;
  left: 20%;
}
.logo img {
  width: 100%;
}
.pos {
  position: absolute;
  top: 55%;
  left: 34%;
}
.button {
  display: flex;
  height: 300px;
  padding: 5px 40px;
  margin-top: -10rem;
  border: 1px;
  border-radius: 25px;
  opacity: 0.75;
  font-family: "Arima Madurai", cursive;
  font-size: 1.6rem;
  /* margin-bottom: 10rem; */
  /*   margin-left: 2rem;*/
  position: absolute;
  bottom: 0;
  left: calc(50% - 293px);
}
.button a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  align-self: flex-start;
}

.oversigt {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 40px;
  border: 1px;
  border-radius: 25px;
}

.opskrifter {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 40px;
  border: 1px;
  border-radius: 25px;
}
.oversigt:hover,
.opskrifter:hover {
  opacity: 90%;
}
.dots {
  align-self: flex-end;
}

/* @media (max-width: 799px) {
  .button {
    display: inline-block;
    margin-bottom: 3rem;
    left: 10%;
  }
  .pos {
    position: absolute;
    top: 10%;
  }
  .dots {
    position: absolute;
    left: 12%;
  }
} */

.slideshow-container_2 {
  display: none;
}
@media (max-width: 600px) {
  .button {
    height: 300px;
    left: calc(50% - 240px);
  }
  .button a {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    align-self: flex-start;
  }
  .logo {
    width: 80%;
    left: 10%;
  }
}
