.grid_1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon_1-1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-top: 5px;
}

.dish_card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;
}

.icons {
    width: 15%;
  }