.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.diæt {
    margin-left: 200px;
}