/*web*/
@media (min-width: 800px) {
    .grid_1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .grid_1-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid_1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .diæt {
        margin-left: 200px;
    }

    .icon_1-1 {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        margin-top: 5px;
    }

    .opskrift_info {
        margin-left: 30px;
    }

    .opskrift_pic {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    main {
        margin: 0px 70px;
    }

    .ingrediens_list {
        border-right: 2px;
        border-color: var(--secondary);
    }
}

/*mobile*/
@media (max-width: 800px) {
    h1 {
        text-align: center;
    }

    main {
        margin-inline: auto;
    }


}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
}

.icons {
    width: 25px;
}

.icon_1-1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-top: 5px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.gennemgang {
    color: var(--tertiary);
    padding: 5px;

}

.ingredienser {
    background-color: var(--tertiary);
    color: var(--quaternary);
    padding: 5px;
    margin-right: 30px;
}



input:checked + span {
    text-decoration: line-through;
}



/*FONTS*/

 h1 {
    font-family: "Medium";
 }

 ol li, p {
    font-family: "Regular";
 }

 ul li {
    font-family: "kodchasan_semibold";
    list-style-type: none;
 }

 .prepTime, .cookTime, .portion, .diæter {
    font-family: "Bold";
 }

 ol {
    font-family: "Arima_bold"
 }
