/*mobile*/
@media (min-width: 600px) {
    .grid_1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .grid_1-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid_1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .diæt {
        margin-left: 200px;
    }

    .icon_1-1 {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        margin-top: 5px;
    }

    .opskrift_info {
        margin-left: 30px;
    }

    .opskrift_pic {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    main {
        margin: 0px 70px;
    }
}

/*Web*/
@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    main {
        margin-inline: auto;
        margin: 0px 65px;
    }
}


.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
}

.icons {
    width: 15%;
}

.icon_1-1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-top: 5px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
