html {
    --brand_color: #E6DCD4;
    --secondary: #292B29;
    --tertiary: #ED8634;
    --quaternary: #FFFFFF;
    --space-sm: 10px;
    --space-md: 20px;
    --space-lg: 30px;
    --space-xl: 40px;
    --space-xxl: 50px;
    --font-xxs: 20px;
    --font-xs: 22px;
    --font-sm: 25px;
    --font-md: 35px;
    --font-lg: 40px;
    --font-regular: 400;
    --font-medium: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    background-color: var(--brand_color);
}

/*Fonts*/
@font-face {
    font-family: "Medium";
    src: url(fonts/ArimaMadurai-Medium.woff2);
}

@font-face {
    font-family: "Regular";
    src: url(fonts/Kodchasan-Regular.woff2);
}

@font-face {
    font-family: "Bold";
    src: url(fonts/SegoeScript-Bold.woff2);
}

/*Category*/
.list, .list ul {
    list-style-type: none;
    text-align: center;
}

.list h2 {
    text-decoration: underline 2px;
    padding: 3px;
    margin-top: 50px;
}

.category_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 90px;
}


/*Product og productlist*/
.grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.diæt {
    margin-left: 200px;

}

.dish_card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border:2px solid hotpink;
}

.icon_1-1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-top: 5px;
}

.icons {
    width: 15%;
}

.grid_1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
}